

html{
  margin: 0;
  padding: 0;

}

body{
margin: 0;
padding: 0;
box-sizing: border-box;

}
h1{
  font-size: 2.5rem;
  align-items: center;
}

h2{
  font-size: 2rem;
}



p{
  align-items:flex-start;
}





.App{


padding: 2rem 4rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}


.card_img{
  display: flex;
  
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;

}

.card_img img{
  width: 90%;

}

.card_stats{
  background-color: white;
  gap: 1rem;
  padding: .2rem;
  
  align-items: center;
}


.card{
  
  background-color: #75c7ff;
  justify-content: center;
  align-items: center;
  padding: 0rem 0rem;
  width: 350px;
  height: 800px;  
  margin: 1rem;
  position: relative;
  margin-bottom: 2rem;
}

.animate-bg:before, .animate-bg:after{
  content: '';
  position:absolute;
  left: -20px;
  top: -20px;
  background:linear-gradient(120deg, #79fb00, #8d01a0,
  #031ba5,#ff004c);
  background-size: 300%;
  width: 390px;
  height: 850px;
  z-index: -1;
  animation: BGgradient 15s ease infinite;

}

@keyframes BGgradient {

  0%{
    background-position: 0% 200%;
  }

  50%{
    background-position: 200% 0%;
  }

  100%{
    background-position: 0% 330%;
  }

}

.animate-bg:after{
  filter: brightness(1.4);
  filter: drop-shadow(16px 16px 20px rgb(248, 220, 97));
  filter: blur(15px);
}